.form-group{
    text-align: center;
    margin: 50px 0;
}

.title {
    margin: 20px auto 0;
}

.textareaForm{
   text-align: center;
}

#message{
    color: red;
    visibility: hidden;
}

#arrLenght{
    color: blue;
}

